.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

*.log
bin/
dist/
node_modules/
.venv/
**/.venv/
__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
*.py[cod]

.idea/
.vscode/
.DS_Store
Thumbs.db